# Pastas de saída da compilação (Binários que nunca devem ser versionados)
[Bb]in/
[Oo]bj/
*.csproj.user
*.userprefs
*.pidb
*.log
*.sqlite
*.sdf
*.suo
*.user

# Pastas de configuração e cache do Visual Studio/VS Code
.vs/
.vscode/
.nuget/
**/bin/
**/obj/

# Arquivos de sistema e temporários
.DS_Store
Thumbs.db
*.tmp
*.bak